.container {
	width: 92%;
	margin: 0 auto;
}
.sectionOne {
	width: 100%;
	display: grid;
	list-style: none;
	justify-content: space-between;
	grid-template-columns: auto auto;
	text-align: left;
	align-items: center;
	padding: 0.5rem 0;
}
span {
	display: flex;
	justify-content: center;
	align-items: center;
}
.textAndBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}
span > a {
	text-decoration: none;
	color: var(--bs-test-color);
}
.logo > img {
	width: 2.5rem;
	height: 2.5rem;
	border: 3px solid var(--bs-Hunter-green);
}
.logo {
	margin-right: 0.5rem;
}
.logo:hover {
	filter: blur(1px);
}
.logoName {
	font-family: var(--bs-font-Rubik);
	font-size: 20px;
	font-weight: 400;
	margin-right: 3rem;
}
.inputHeader > input {
	cursor: pointer;
	font-family: FontAwesome;
	width: 20rem;
	height: 2rem;
	border: none;
	outline: none;
	background-color: var(--bs-white-color);
	border-radius: 0.8rem;
	padding-left: 1rem;
}
.inputHeader > input:focus {
	font-size: 20px;
	background-color: #c5dad5fb;
	transition: 0.4s ease-out;
}
.menuHeader {
	display: none;
}
.TextOneHeader {
	font-family: var(--bs-font-Rubik);
	font-weight: 600;
	padding: 0.5rem 0;
}
.TextTwoHeader {
	margin: 0 1rem;
	font-family: var(--bs-font-Rubik);
	font-weight: 600;
	padding: 0.5rem 0;
}
.TextOneHeader:hover,
.TextTwoHeader:hover {
	border-bottom: 2px solid var(--bs-green);
	transition: 0.2s;
}
.headerBtn > a {
	text-decoration: none;
	padding: 0.6rem 1.9rem;
	background-color: white;
	border-radius: 1.5rem;
	border: 3px solid var(--bs-Hunter-green);
	outline: none;
	color: var(--bs-Hunter-green);
	font-weight: 500;
	cursor: pointer;
}
.headerBtn > a:hover {
	background-color: var(--bs-green);
	color: var(--bs-white-color);
	transition-delay: 0.8s;
	transition: 0.4s ease;
}
.menuSectionTwo {
	display: none;
}
.sectionTwo > nav {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 0;
}
.sectionTwo > nav > li > a {
	width: fit-content;
	text-decoration: none;
	color: var(--bs-text-color);
}
.sectionTwo > nav > li > a:hover {
	color: var(--bs-green);
	transform: scaleY(1.1);
	font-weight: 500;
}

.sectionThree {
	height: 84vh;
	position: relative;
}
.boxAnimation {
	position: absolute;
	top: 15%;
	display: grid;
	grid-template-columns: 45% 55%;
	align-items: center;
}
.boxImage {
	display: flex;
	justify-content: flex-end;
}
.textMain {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var(--bs-white-color);
	margin-left: 6rem;
}
.textMain > h1 {
	font-size: 5em;
}
.textMain > p {
	width: 65%;
	font-size: 1em;
}
.textMain > span {
	margin-top: 2rem;
}
.linkMain {
	text-decoration: none;
	padding: 0.8rem 3rem;
	font-size: 1.5em;
	background-color: var(--bs-white-color);
	border-radius: 1.5rem;
	border: none;
	outline: none;
	cursor: pointer;
}
.linkMain:hover {
	background-color: var(--bs-green);
	color: var(--bs-white-color);
	transition: 0.4s ease-out;
}
.questionMain {
	text-decoration: none;
	color: var(--bs-white-color);
	margin-left: 2rem;
	cursor: pointer;
}
.questionMain:hover {
	color: var(--bs-test-color);
	font-weight: 500;
	cursor: pointer;
	transition: 0.4s;
}
.branding {
	width: 100%;
	position: absolute;
	margin: 0 auto;
	bottom: 0;
	background-color: var(--bs-green);
	opacity: 0.65;
	list-style: none;
}
.branding > .container {
	width: 92%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	justify-content: space-between;
	align-items: center;
}
.branding > .container > li > img {
	width: 150px;
	height: 100px;
}
@media only screen and (max-width: 1440px) {
	.boxAnimation {
		position: absolute;
		top: 15%;
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		align-items: center;
	}
	.boxImage {
		display: none;
	}
	.textMain {
		width: 60%;
		margin-left: 3rem;
	}
	.branding > .container {
		width: 96%;
	}
}

@media only screen and (max-width: 976px) {
	.boxAnimation {
		top: 3%;
	}
	.branding > .container {
		width: 92%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: auto auto auto;
		justify-content: space-between;
		align-items: center;
	}
	.container {
		width: 96%;
	}
	.textMain > h1 {
		font-size: 4em;
	}
	.textMain > p {
		width: 65%;
		font-size: 0.8em;
	}
	.menuHeader {
		display: flex;
	}
	.textAndBtn {
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	.textMain > h1 {
		font-size: 3.2em;
	}
	.menuSectionTwo {
		display: flex;
		justify-content: flex-end;
		padding: 0.9rem 0;
	}
	.sectionTwo > nav {
		display: none;
	}
	.textMain {
		width: 80%;
		margin-left: 3rem;
	}
}
@media only screen and (max-width: 574px) {
	.inputHeader {
		display: none;
	}
	.branding > .container {
		width: 92%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		align-items: center;
	}
	.textMain > h1 {
		font-size: 2.2em;
	}
	.textMain > p {
		width: 65%;
		font-size: 0.7em;
	}
	.linkMain {
		padding: 0.5rem 2.2rem;
		font-size: 1em;
		background-color: var(--bs-white-color);
		border-radius: 1.5rem;
		border: none;
		outline: none;
		cursor: pointer;
	}
}
